@model Interdisciplinar.Models.Ideia

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registrando uma nova ideia";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <h2>Registro de uma nova ideia</h2>

    <table class="table	table-striped table-hover table-bordered table-condensed">
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label	col-md-1" })
                    <div class="col-md-11">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })

                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.DescricaoProblema, "Descrição", htmlAttributes: new { @class = "control-label	col-md-1" })

                    <div class="col-md-11">
                        @Html.EditorFor(model => model.DescricaoProblema, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DescricaoProblema, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Recomendacao, "Recomendação", htmlAttributes: new { @class = "control-label	col-md-1" })
                    <div class="col-md-11">
                        @Html.EditorFor(model => model.Recomendacao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Recomendacao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DataCadastro, "Data Cadastro", htmlAttributes: new { @class = "control-label	col-md-1" })
                    <div class="col-md-11">
                        @Html.EditorFor(model => model.DataCadastro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DataCadastro, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.AlunoId, "Aluno ", htmlAttributes: new { @class = "control-label	col-md-1" })
                    <div class="col-md-11">
                        @Html.DropDownList("AlunoId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AlunoId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdeiaPaiId, "Ideia Existente", htmlAttributes: new { @class = "control-label	col-md-1" })
                    <div class="col-md-11">
                        @Html.DropDownList("IdeiaPaiId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AlunoId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DepartamentoOpetId, "Departamento Opet", htmlAttributes: new { @class = "control-label	col-md-1" })
                    <div class="col-md-11">
                        @Html.DropDownList("DepartamentoOpetId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepartamentoOpetId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-offset-1	col-md-11">
                    <input type="submit" value="Adicionar	Ideia" class="btn	btn-primary" />
                    @Html.ActionLink("Retornar	para a listagem de ideias", "Index", null, new { @class = "btn	btn-success" })
                </div>
                <br />
                <br />
            </div>
        </div>

    </table>

}
@section	ScriptPage	{
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liIdeias').addClass("active");
        });
    </script>

}