@model IEnumerable<Interdisciplinar.Models.Ideia>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listagem	de Ideias";
}

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @TempData["Message"].
    </div>
}


<h2>Relação	de ideias cadastradas</h2>

<table class="table	table-striped table-hover table-bordered table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdeiaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DescricaoProblema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recomendacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAnalise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aprovado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlunoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdeiaPaiId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartamentoOpetId)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdeiaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.DescricaoProblema)
                    </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Recomendacao)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.DataCadastro)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.DataAnalise)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Aprovado)
                <th>
                    @Html.DisplayFor(modelItem => item.Resposta)

                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Aluno.Nome)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.IdeiaExistente.Nome)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.DepartamentosOpet.Nome)
                </th>

              
                <td>
                    @Html.ActionLink("Alterar", "Edit", new { id = item.IdeiaId })	|
                    @Html.ActionLink("Detalhes", "Details", new { id = item.IdeiaId })	|
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdeiaId })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Registrar	uma nova Ideia", "Create", null, new { @class = "btn btn-primary" })

@section	styles{
    <link href="@Url.Content("~/content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet">
}

@section	ScriptPage	{
    <script src="@Url.Content("~/scripts/DataTables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/scripts/DataTables/dataTables.bootstrap.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').dataTable({ "order": [[1, "asc"]] });
            $('li').removeClass("active");
            $('#liIdeias').addClass("active");

        });
    </script>

}