@model Interdisciplinar.Models.Aluno

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando	os	dados	de	um	aluno";

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel	panel-primary">
        <div class="panel-heading">
            Alteração	dos	dados	de	um	aluno
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <h4>Aluno</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.AlunoId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label	col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CursoId, "CursoId", htmlAttributes: new { @class = "control-label	col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CursoId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CursoId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2	col-md-10">
                        <input type="submit" value="Gravar	alterações" class="btn	btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
} @section	ScriptPage	{
<script type="text/javascript">
    $(document).ready(function () {
        $('li').removeClass("active");
        $('#liAlunos').addClass("active");
    });
    </script>
}

