@model Interdisciplinar.Models.DepartamentoOpet


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registrando um novo departamento";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <h2> Registro de um novo departamento</h2>

    <table class="table	table-striped table-hover table-bordered table-condensed">
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, "Nome", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-11">
                        @Html.EditorFor(model => model.Nome, new { htmlAtributtes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => Model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.EmailDepartamento, "Email", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-11">
                        @Html.EditorFor(model => model.EmailDepartamento, new { htmlAtributtes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => Model.EmailDepartamento, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-offset-1 col-md-11">
                    <input type="submit" value="Adicionar um departamento" class="btn btn-primary" />
                    @Html.ActionLink("Retornar para a listagem de departamentos", "Index", null, new { @class = "btn btn-success" })

                </div>
                <br />
                <br />
            </div>
            </div>
    </table>
}

@section ScriptPage {
    <script scr="~Scripts/jquery.validate.min.js">
    </script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liDepartamentosOpet').addClass("active");
        });
    </script>
}
