@model Interdisciplinar.Models.DepartamentoOpet

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando detalhes de um departamento a ser removido";
}


<h2>Dados do departamento a	ser	removido</h2>


<div class="form-group">
    @Html.LabelFor(model => model.Nome)
    <br />
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon	glyphicon-user">
            </i>
        </span>
        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.EmailDepartamento)
    <br />
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon	glyphicon-user">
            </i>
        </span>
        @Html.EditorFor(model => model.EmailDepartamento, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
    </div>
</div>



<a href="#" class="btn btn-primary" data-toggle="modal"
   data-target="#deleteConfirmationModal">Remover</a>
@Html.ActionLink("Retornar	para a listagem", "Index", null, new { @class = "btn btn-success" })

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ELTEismiss
                        "modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Confirmação	de	exclusão de departamento</h4>
            </div>
            <div class="modal-body">
                <p>
                    Você está prestes a remover o Departamento @Model.Nome.ToUpper() do cadastro.
                </p>
                <p>
                    <strong>
                        Você está certo	que	deseja	prosseguir?
                    </strong>
                </p>
                @using (Html.BeginForm("Delete", "DepartamentosOpet", FormMethod.Post, new { @id = "delete-form", role = "form" }))
                {
                    @Html.HiddenFor(a => a.DepartamentoOpetId)
                    @Html.AntiForgeryToken()
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="$('#delete-form').submit();">
                    Sim, exclua	este departamento.
                </button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                    Não, não exclua	este departamento.
                </button>
            </div>
        </div>
    </div>
</div>

@section ScriptPage	{
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liDepartamentosOpet').addClass("active");
        });
    </script>
}