@model Interdisciplinar.Models.Curso


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Registrando um novo curso";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
            Registro de um novo curso
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.LabelFor(model => model.Coordenador, htmlAttributes: new { @class = "control-label col-md-2"})
                    @Html.LabelFor(model => model.EmailCoordenador, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nome, new { htmlAtributtes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => Model.Nome, "", new { @class = "text-danger" })

                        @Html.EditorFor(model => model.Coordenador, new { htmlAtributtes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => Model.Coordenador, "", new { @class = "text-danger" })

                        @Html.EditorFor(model => model.EmailCoordenador, new { htmlAtributtes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => Model.EmailCoordenador, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer panel-info">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar um curso" class="btn btn-danger" />
                @Html.ActionLink("Retornar para a listagem de cursos", "Index", null, new { @class = "btn btn-warning" })

            </div>
            <br />
            <br />
        </div>
    </div>
}

@section ScriptPage {
    <script scr="~Scripts/jquery.validate.min.js">
    </script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
        $('li').removeClass("active");
        $('#liCursos').addClass("active");
    	});
    </script>
}
